@import "./base.css";

body {
  background-color: #101010;
}

.gap {
  gap: 0.5rem;
}

.text-h4,
.side-line {
  border-left: 3px solid rgb(var(--v-theme-primary));
  padding-left: 1rem;
}

.v-list-item--active i {
  color: #ffca00;
}

.v-btn:hover {
  box-shadow: 0px 0px 15px #ffca0066;
  transition: 0.5s;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.min-w-10 {
  min-width: 10rem;
}
.min-w-20 {
  min-width: 20rem;
}
.min-w-30 {
  min-width: 30rem;
}
.min-h-10 {
  min-height: 10rem;
}
.min-h-20 {
  min-height: 20rem;
}
.min-h-30 {
  min-height: 30rem;
}

.hightlight-hover,
tr {
  transition: 0.5s;
}

.hightlight-hover,
tr:hover {
  background-color: #303030;
}

.scale-hover {
  transition: 0.5s;
  overflow: hidden;
}

.scale-hover:hover {
  transform: scale(1.1);
}

.gap-1 {
  gap: 1rem;
}

.top-right{
  position: absolute !important;
  top: 1rem;
  right: 1rem;
}
.bottom-right{
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
}

.v-table{
  border-radius: 1rem !important;
}