@import "./base.css";

body {
  background-color: #101010;
}

.gap {
  gap:.5rem
}

.text-h4 {
  border-left: 3px solid rgb(var(--v-theme-primary));
  padding-left: 1rem;
}

.v-list-item--active i{
  color: #ffca00
}

.v-btn:hover{
  box-shadow: 0px 0px 15px #ffca0066;
  transition: .5s;
}